anyio==4.14.2
asgiref==3.11.1
certifi==2026.6.17
Django==6.0.7
djangorestframework==3.17.1
dotenv==0.9.9
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
packaging==25.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
python-telegram-bot==22.8
sqlparse==0.5.5
typing_extensions==4.16.0
whitenoise==6.7.0
